# Just gonna ignore all files by default (whitelist method)
*.*

# Keep currently required filenames and types
!*.sh
!*/results/.gitkeep
!*/code/
!*/code/*
!*/data/
!*/data/*

# No sandbox please and no results except gitkeep
*/sandbox/*
*/results/*
.DS_Store
__pycache__